@model DemoModel.ViewModel.UserViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="codes">
    <div class="container">
        <div class="w3ls-title">
            <h3 class="agileits-title">User Details</h3>
        </div>

        <div class="grid_3 grid_4">
            <div class="grid_3 grid_4 col-md-2">
            </div>
            <div class="grid_3 grid_4 col-md-8">
                <div class="tab-content">
                    <div class="tab-pane active" id="horizontal-form">
                        @using (Html.BeginForm("Register", "Account", null, FormMethod.Post, new
                        {
                            @class = "form-horizontal m-t-20",
                            role = "form",
                            @id = "loginform"
                        }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-group">
                                <label for="smallinput" class="col-sm-2 control-label label-input-sm">First Name</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control1 input-sm", @placeholder = "First Name", required = "required" })
                                </div>
                                <div class="input-group mb-3">
                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="smallinput" class="col-sm-2 control-label label-input-sm">Last Name</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control1 input-sm", @placeholder = "Last Name", required = "required" })
                                </div>
                                <div class="input-group mb-3">
                                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="smallinput" class="col-sm-2 control-label label-input-sm">Email</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control1 input-sm",
                                   @placeholder = "Email", required = "required",
                                   autocomplete = "off"
                               })
                                </div>
                                <div class="input-group mb-3">
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="smallinput" class="col-sm-2 control-label label-input-sm">Phone Number</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control1 input-sm",
                                   @placeholder = "PhoneNumber", required = "required" ,
                                   autocomplete = "off"
                               })
                                </div>
                                <div class="input-group mb-3">
                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="smallinput" class="col-sm-2 control-label label-input-sm">Password</label>
                                <div class="col-sm-8">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control1 input-sm",
                                   @placeholder = "Password", required = "required",
                                   autocomplete = "off"
                               })
                                </div>
                                <div class="input-group mb-3">
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="smallinput" class="col-sm-2 control-label label-input-sm">Confirm Password</label>
                                <div class="col-sm-8">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control1 input-sm",
                                   @placeholder = "Confirm Password", required = "required",
                                   autocomplete = "off"
                               })
                                </div>
                                <div class="input-group mb-3">
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="date_btn" style="text-align: center;">
                                <button class="reg-button" type="submit">Register</button>
                            </div>

                        }
                    <div class="date_btn" style="text-align: center;">
                        Already have account ?<a href="#LoginModel" data-toggle="modal"> Login</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="grid_3 grid_4 col-md-2">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on('invalid-form.validate', 'form', function () {
    var button = $(this).find('input[type="submit"]');
    setTimeout(function () {
        button.removeAttr('disabled');
    }, 1);
});
$(document).on('submit', 'form', function () {
    var button = $(this).find('input[type="submit"]');
    setTimeout(function () {
        button.attr('disabled', 'disabled');
    }, 0);
});
</script>
