@using KarmickSolutions.Web.Helper;
@using KarmickSolutions.Utility.Helper;
@using System.Collections;
@using Newtonsoft.Json;
@{
    Layout = null;
    ViewBag.Title = "Home Page";
   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Indian Lotus | Resturant and Take Away  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Indian Lotus | Resturant and Take Away " />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="../../Assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../../Assets/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="../../Assets/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
    <link rel="stylesheet" href="../../Assets/css/owl.carousel.css" type="text/css" media="all" /> <!-- Owl-Carousel-CSS -->
    <link href="../../Assets/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />  <!-- time-picker-CSS -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="../../Assets/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- //web-fonts -->
</head>
<body>

    <!-- banner -->
    <div class="banner jarallax">
        <!-- header -->
        <div class="header">
            <div class="container">
                <div class="col-md-6">
                    <div class="logo">
                        <h1>
                            <a href="@Url.Action("index", "Home")"><img src="/Assets/images/logoindianlotus.png" style=" height: 3%;width: 45%;"></a>
                        </h1>
                    </div>
                </div>
                <div class="col-md-6">

                    @if (UserAuthenticate.IsAuthenticated)
                    {
                        <div class="menu">
                            <a href="#" class="navicon"></a>
                            <div class="toggle">
                                <ul class="toggle-menu">
                                    <li><a href="@Url.Action("index", "Home")" class="active"> Home</a></li>
                                    <li><a href="@Url.Action("About", "Home")"> About</a></li>
                                    <li><a href="@Url.Action("Gallery", "Home")"> Gallery</a></li>
                                    <li><a href="@Url.Action("Item", "Home")"> Menu</a></li>
                                    <li><a href="@Url.Action("contact", "Home")"> Contact Us</a></li>
                                    <li><a href="@Url.Action("MyOrder", "Home")"> My Order</a></li>
                                    <li><a href="@Url.Action("MyAddresses", "Home")">My Addresses</a></li>
                                    <li><a href="@Url.Action("MyCart", "Home")">My Cart</a></li>
                                    <li><a href="@Url.Action("LogOff", "Account")">Log Out</a></li>
                                </ul>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="menu">
                            <a href="#" class="navicon"></a>
                            <div class="toggle">
                                <ul class="toggle-menu">
                                    <li><a href="@Url.Action("index", "Home")" class="active"> Home</a></li>
                                    <li><a href="@Url.Action("About", "Home")"> About</a></li>
                                    <li><a href="@Url.Action("Gallery", "Home")"> Gallery</a></li>
                                    <li><a href="@Url.Action("Item", "Home")"> Menu</a></li>
                                    <li><a href="@Url.Action("contact", "Home")"> Contact Us</a></li>
                                    @if (!UserAuthenticate.IsAuthenticated)
                                    {
                                        <li><a href="#LoginModel" data-toggle="modal"> Login</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                    <div class="social-w3licon" style="background: red;">
                        <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/indianlotusrestaurant/?modal=admin_todo_tour" target="_blank" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
                    </div>

                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //header -->
        <!-- banner-text -->
        <div class="banner-text">
            <div class="container">
                <div class="banner-w3lstext">
                    <h2>Indian Lotus<span>Restaurant</span></h2>
                    <p> Indian Lotus | Resturant and Take Away</p>
                </div>
            </div>
        </div>
        <!-- //banner-text -->
    </div>
    <!-- //banner -->
    <!-- welcome -->
    <div class="welcome">
        <div class="container">
            <div class="col-md-7 welcome-grid-left">
                <h3>Reserve a table in <span>Restaurant</span></h3>
                <p>
                    Avoid the last-minute rush and book your restaurant table online. Our Restaurant Table Booking app is quick and easy to use.
                </p>
                <div class="col-sm-12" style="padding-bottom: 20px;">
                    <h4>Working Hours:</h4>
                    <h5>
                        <b>Tuesday to Sunday :</b> 4:30 p.m – 9:30 p.m <br>
                        <b>Monday : </b> off <br>
                        <span class="glyphicon glyphicon-earphone"></span> 039301114
                    </h5>
                </div>
                <div class="more">
                    <a href="#myModal" data-toggle="modal">Read More...</a>
                    <a href="https://api.whatsapp.com/send?phone=+64226976362" target="_blank" data-toggle="modal">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> WhatsApp Us
                    </a>
                </div>

            </div>
            <div class="col-md-5 welcome-grid">
                <div class="agileits_reservation">
                    <form action="#" method="post">
                        @*<div class="cuisine">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                <input type="text" name="Location" placeholder="Restaurant name, Location, Area, Cuisine.." required="">
                            </div>*@

                        <div class="cuisine">
                            <span class="glyphicon glyphicon-user txtName" aria-hidden="true"></span>
                            <input type="text" id="txtName" name="txtName" placeholder="Name" required="" class="txtName">
                        </div>
                        <div class="clearfix"> </div>
                        <div class="phone_email">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                            <input type="text" id="txtPhone" name="txtPhone" placeholder="Phone" required="">
                        </div>
                        <div class="phone_email1">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            <input type="email" id="txtEmail" name="txtEmail" placeholder="Email" required="">
                        </div>
                        <div class="clearfix"> </div>
                        <div class="agileits_reservation_grid">
                            <div class="span1_of_1 book_date">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <input class="date txtBookingDate" id="datepicker" name="Text" placeholder="Date" type="text" required="">
                            </div>
                            <div class="span1_of_1 section_room">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                <input type="text" id="txtTime" name="Time" class="timepicker" value=" Time">
                            </div>
                            <div class="span1_of_1 section_room">
                                <!-- start_section_room -->
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <select id="country1" class="frm-field sect" required>
                                    <option value="">People</option>
                                    <option value="1">1 People</option>
                                    <option value="2">2 People</option>
                                    <option value="3">3 People</option>
                                    <option value="4">4 People</option>
                                    <option value="5">5 People</option>
                                    <option value="6">6 People</option>
                                    <option value="7">7 People</option>
                                    <option value="8">8 People</option>
                                    <option value="9">9 People</option>
                                    <option value="10">10 People</option>
                                    <option value="11">10+ People</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="alert alert-success agileits hide" role="alert" id="spanSuccess" style="margin-top: 20px;">
                                <strong>Well done!</strong> You successfully read this important alert message.
                            </div>
                        </div>
                        <div class="date_btn">
                            <input type="button" id="btn_Booking" value="Book A Table" />
                        </div>
                    </form>
                </div>
                <!-- Time select -->
                <script type="text/javascript" src="../../Assets/js/wickedpicker.js"></script>
                <script type="text/javascript">
                    $('.timepicker').wickedpicker({ twentyFour: false });
                </script>
                <!-- //Time select -->
                <!-- Calendar -->
                <link rel="stylesheet" href="../../Assets/css/jquery-ui.css" />
                <script src="../../Assets/js/jquery-ui.js"></script>
                <script>
                    $(function () {
                        $("#datepicker").datepicker({ minDate: 0 });
                    });
                </script>
                <!-- //Calendar -->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    
    <!-- about -->
    <div class="about" style="padding: 0em 0;">
        <div class="container">
            <div class="w3ls-title">
                <h3 class="agileits-title">About us</h3>
            </div>
            <p class="about-w3text">
                Indian Lotus team offering latest and innovative dishes On Our tasty menu.
                We have an excellent chef who have 30 years experience in cooking and more than 10 years of experience in New Zealand.
                And we serve Indian authentic taste food, delicious vegetarian as well as non vegetarian food.
            </p>
            <div class="services-row-agileinfo">
                <div class="col-sm-4 col-xs-4 services-w3grid">
                    <span class="glyphicon glyphicon-heart hi-icon" aria-hidden="true"></span>
                    <h5>Dal Makhani</h5>
                    <p>Chilli Chicken and More delicious dishes </p>
                </div>
                <div class="col-sm-4 col-xs-4 services-w3grid">
                    <span class="glyphicon glyphicon-list-alt hi-icon" aria-hidden="true"></span>
                    <h5>Dal Tadka</h5>
                    <p>Chilli Chicken and More delicious dishes </p>
                </div>
                <div class="col-sm-4 col-xs-4 services-w3grid">
                    <span class="glyphicon glyphicon-leaf hi-icon" aria-hidden="true"></span>
                    <h5>Korma</h5>
                    <p>Chilli Chicken and More delicious dishes </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- specials -->
    <div class="specials">
        <!-- Owl-Carousel -->
        <div id="owl-demo" class="owl-carousel text-center">
            

        </div>
        <!-- //Owl-Carousel -->
    </div>
    <!-- //specials -->
    <!-- menu-form -->

    <!-- //menu-form -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-5 col-sm-5 agileinfo_footer_grid">
                <h3 class="agileits-title">About Us</h3>
                <p>
                    We have an excellent chef who have 30 years experience in cooking and more than 10 years of experience in New Zealand.
                    And we serve Indian authentic taste food, delicious vegetarian as well as non vegetarian food.

                </p>
            </div>
            <div class="col-md-3 col-sm-3 agileinfo_footer_grid mid-w3l nav2">
                <h3 class="agileits-title">Popular</h3>
                <ul>
                    <li><a href="#menu1Model" data-toggle="modal"><i class="fa fa-arrow-right"></i> Dishes 1</a></li>
                    <li><a href="#menu2Model" data-toggle="modal"><i class="fa fa-arrow-right"></i> Dishes 2</a></li>
                    <li><a href="#menu3Model" data-toggle="modal"><i class="fa fa-arrow-right"></i> Dishes 3</a></li>
                    <li><a href="#menu4Model" data-toggle="modal"><i class="fa fa-arrow-right"></i> Dishes 4</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 agileinfo_footer_grid">
                <h3 class="agileits-title">Address</h3>
                <ul>
                    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 42/7 Silverstream Boulevard, Kaiapoi, Christchurch 8073</li>
                    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:Indianlotusrestaurant@gmail.com?subject=Query">Indianlotusrestaurant@gmail.com</a></li>
                    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <a href="tel:643039301114">039301114</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <div class="w3agile_footer_copy">
                <p>© 2020 Dine. All rights reserved <a href="#" target="_blank">.</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- modal-about -->
    <div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-spa">
                    <img src="../Assets/images/Gallery/d5.jpg" class="img-responsive" alt="Indian Lotus" />
                    <div class="modal-w3lstext">
                        <h4>Chicken Tikka</h4>
                        <p>
                            We have an excellent chef who have 30 years experience in cooking and more than 10 years of experience in New Zealand.
                            And we serve Indian authentic taste food, delicious vegetarian as well as non vegetarian food. .
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!-- //modal-about -->
    <!-- Owl-Carousel-JavaScript -->
    <script src="../../Assets/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 3,
                lazyLoad: true,
                autoPlay: true,
                pagination: false,
            });
        });
    </script>
    <!-- //Owl-Carousel-JavaScript -->
    <!-- menu-js -->
    <script>
        $('.navicon').on('click', function (e) {
            e.preventDefault();
            $(this).toggleClass('navicon--active');
            $('.toggle').toggleClass('toggle--active');
        });
    </script>
    <!-- //menu-js -->
    <!-- Progressive-Effects-Animation-JavaScript -->
    @*<script type="text/javascript" src="../../Assets/js/numscroller-1.0.js"></script>*@
    <!-- //Progressive-Effects-Animation-JavaScript -->
    <!-- jarallax -->
    @*<script src="../../Assets/js/SmoothScroll.min.js"></scri*@pt>
    <script src="../../Assets/js/jarallax.js"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <!-- //jarallax -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="../../Assets/js/move-top.js"></script>
    <script type="text/javascript" src="../../Assets/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>

    <script src="~/Assets/ApplicationJs/Home.js"></script>
    @*<script src="~/Assets/ApplicationJs/addToCart.js"></script>*@
    @*<script type="text/template" id="cartT">
        <% _.each(items, function (item) { %>
        <div class="panel">
            <h3> <%= item.name %> </h3>  <span class="label">
                <%= item.count %> piece<% if(item.count > 1)
                {%>s
                <%}%> for <%= item.total %>₹
            </span>
        </div>
        <% }); %>
    </script>*@
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../Assets/js/bootstrap.js"></script>
    <!--Start of Tawk.to Script-->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5ea533ee35bcbb0c9ab4ba92/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!--End of Tawk.to Script-->
</body>
</html>