@model List<DemoModel.ViewModel.UserDetailViewModel>
@{
    ViewBag.Title = "MyAddresses";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="codes">
    <div class="container">
        <div class="w3ls-title">
            <h3 class="agileits-title">Address Details</h3>
        </div>
        
        <div class="grid_3 grid_4">
            @if (Model.Count > 0)
            {
                foreach (DemoModel.ViewModel.UserDetailViewModel entity in Model)
                {
            <div class="grid_3 grid_4 col-md-4 ">
                <h3 class="w3ls-hdg">
                    My Address  @entity.Id @if (entity.IsDefault)
                    {
                        <label for="smallinput" class="control-label label-input-sm" style="color:  black;">(Default)</label>
                    }
                    @*<span class="glyphicon glyphicon-edit edit-address" attb="@entity.CurAddress1@entity.Id@entity.UserId">Edit</span>*@

                </h3>

                <div class="tab-content" id="@entity.CurAddress1@entity.Id@entity.UserId">
                    <div class="tab-pane active">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="smallinput" class="col-sm-2 control-label label-input-sm">Address</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1 input-sm" id="@entity.Id+" CurAddress1"" placeholder="@entity.CurAddress1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="smallinput" class="col-sm-2 control-label label-input-sm">Address</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1 input-sm" id="@entity.Id+" CurAddress2"" placeholder="@entity.CurAddress2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="smallinput" class="col-sm-2 control-label label-input-sm">City</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1 input-sm" id="@entity.CurCity+" CurCity"" placeholder="@entity.CurCity">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="smallinput" class="col-sm-2 control-label label-input-sm">Zip Code</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1 input-sm" id="CurZipCode" placeholder="@entity.CurZipCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="smallinput" class="col-sm-2 control-label label-input-sm">Mobile</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1 input-sm" id="ProfileUrl" placeholder="@entity.ProfileUrl">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                }
            }
            else
            {
                <div class="grid_3 grid_4 col-md-6">
                    <h3 class="w3ls-hdg">My Address</h3>

                    <div class="tab-content">
                        <div class="tab-pane active" id="horizontal-form">
                            <form class="form-horizontal">
                                <input type="hidden" id="AddressId" value="0" />
                                <input type="hidden" id="IsDefault" value="true" />
                                <div class="form-group">
                                    <label for="smallinput" class="col-sm-2 control-label label-input-sm">CurAddress</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control1 input-sm" id="CurAddress1" placeholder="CurAddress">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="smallinput" class="col-sm-2 control-label label-input-sm">CurAddress</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control1 input-sm" id="CurAddress2" placeholder="Address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="selector1" class="col-sm-2 control-label">Select City</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("CurCity", new SelectList(ViewBag.City, "Id", "CityName"), new { @class = "form-control1" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="smallinput" class="col-sm-2 control-label label-input-sm">ZipCode</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control1 input-sm" id="CurZipCode" placeholder="ZipCode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="smallinput" class="col-sm-2 control-label label-input-sm">Mobile</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control1 input-sm" id="ProfileUrl" placeholder="Mobile">
                                    </div>
                                </div>
                                <div class="more" style="text-align: center;">
                                    <input type="button" id="btn_Save" class="PlaceOrder" value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }

           
        </div>
    </div>
</div>
<script src="~/Assets/ApplicationJs/MyAddress.js"></script>